@charset "UTF-8";
@media screen and (max-width: 768px) and (min-width: 481px) {

    .flex-container{
        width: 68vw;
        height: 75px;
        justify-content: center;
    }
    
    #flex-container{
        width: 68vw;
        height: 75px;
        justify-content: center;
        
    }

    .caixa-login{
        width: 50vw;
        height: 50px;
        border-radius: 10px;
        border-bottom: 4px solid rgb(105, 0, 105);
        border-top: 4px solid rgb(105, 0, 105);
    }
    .caixa-login:hover{
        border: 5px solid rgb(105, 0, 105);
        height: 50px;
    }

    img{
        width: 30px;
        padding: 15px;
    }




}