@charset "UTF-8";


:root{
    --cor0: #C8C1B1;
    --cor1: #7A7469;
    --cor2: #48443A;
    --cor3: #48443a50;
}


*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    transition: .1s;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor0);
    
}

#formulario{
    box-shadow: 0px 0px 9px var(--cor2);
    background-color: var(--cor1);
    width: 90vw;
    height: 80vh;
    border-radius: 20px;

}

#sessao-imagem{
    height: 40%;
    background:url(../imagens/pexels-frans-van-heerden-1022692.jpg) no-repeat;
    background-size: auto;
    background-position: center center;
    border-radius: 20px 20px 0px 0px;
    width: 100%;

}

#sessao-login{
    height: 60%;
    width: 100%;
}


#formulario-login {
    margin: auto;
    width: 250px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    background-color: var(--cor3);
    padding: 8px;
    border-radius: 0px 15px 0px 0px;
}
#formulario-senha {
    margin: auto;
    width: 250px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    background-color: var(--cor3);
    padding: 8px;
    border-radius: 0px 0px 0px 15px;
}



.caixa-login{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    box-shadow: 2px 5px 10px var(--cor2);
    padding: 5px;
    border-bottom: 2px solid black;
    border-radius: 3px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 0px;
    width: 70%;
    margin: auto;
    font-weight: bold;
    text-align: center;
}


#bot-entrar{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;;
    margin: auto;    
    font-size: 1em;
    width: 70%;
    height: 30px;
    border: none;
    background-color: var(--cor2);
    color: var(--cor0);
}

#bot-entrar:hover{
    color: var(--cor2);
    background-color: var(--cor0);
    
}